LASSO Regression

lassoCV - is LASS Cross Validation

RidgeCV is Ridge regression Cross Validation

ElasticNetCV is ElasticNet regression Cross Validation

In [11]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge, Lasso, LassoCV, RidgeCV, ElasticNet, ElasticNetCV, LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sn
import matplotlib.pyplot as plt
import seaborn as sns

<ipython-input-11-bc88e4c382b9>:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [29]:
#import data set
df = pd.read_csv('Admission_Prediction.csv')

In [30]:
pf = ProfileReport(df)

In [31]:
pf.to_widgets()

Summarize dataset: 100%|██████████| 68/68 [00:10<00:00,  6.35it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.78s/it]
Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

missing Data set

Using imputation technique

Mean, Meadian or Mode values of the data column

or 

a forwardfill or backwardfill

Even algorimths can be used to fill the missing values of the data set

In [32]:
df['GRE Score'] = df['GRE Score'].fillna(df['GRE Score'].mean)

In [33]:
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].mean)

In [34]:
df['University Rating'] = df['University Rating'].fillna(df['University Rating'].mean)

In [35]:
df.describe()

       Serial No.         SOP  ...    Research  Chance of Admit
count  500.000000  500.000000  ...  500.000000        500.00000
mean   250.500000    3.374000  ...    0.560000          0.72174
std    144.481833    0.991004  ...    0.496884          0.14114
min      1.000000    1.000000  ...    0.000000          0.34000
25%    125.750000    2.500000  ...    0.000000          0.63000
50%    250.500000    3.500000  ...    1.000000          0.72000
75%    375.250000    4.000000  ...    1.000000          0.82000
max    500.000000    5.000000  ...    1.000000          0.97000

[8 rows x 6 columns]

In [36]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Prepare the data set 

drop the serial no column as its not needed

In [37]:
df.drop(columns=['Serial No.'], inplace=True)

In [39]:
df

                                             GRE Score  ... Chance of Admit
0                                                  337  ...            0.92
1                                                  324  ...            0.76
2    <bound method Series.mean of 0      337.0\n1  ...  ...            0.72
3                                                  322  ...            0.80
4                                                  314  ...            0.65
..                                                 ...  ...             ...
495                                                332  ...            0.87
496                                                337  ...            0.96
497                                                330  ...            0.93
498                                                312  ...            0.73
499                                                327  ...            0.84

[500 rows x 8 columns]

In [40]:
y = df['Chance of Admit']

In [41]:
x = df.drop(columns=['Chance of Admit'])

In [42]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, Length: 500, dtype: float64

In [43]:
x

                                             GRE Score  ... Research
0                                                  337  ...        1
1                                                  324  ...        1
2    <bound method Series.mean of 0      337.0\n1  ...  ...        1
3                                                  322  ...        1
4                                                  314  ...        0
..                                                 ...  ...      ...
495                                                332  ...        1
496                                                337  ...        1
497                                                330  ...        1
498                                                312  ...        0
499                                                327  ...        0

[500 rows x 7 columns]

Normalization or Standardization of data required

In [48]:
scaler1 = StandardScaler()

In [49]:
df1 = scaler1.fit_transform(x)

TypeError: float() argument must be a string or a number, not 'method'